.modal.preview h4 {
    padding-bottom: 10px;
    margin-bottom: 0;
    position: fixed;
}

.modal.diff h4 {
    padding-bottom: 10px;
    margin-bottom: 0;
    position: fixed;
}

.modal {
    width: 35%;
    min-width: 320px;
}

.modal.modal-lg {
    width: 65%;
}

.modal.modal-xl {
    width: 90%;
}

.modal.mn-feature-modal,
.modal.preview {
    width: 75%;
    max-height: 90%;
    height: 90%;
}

.modal.diff {
    width: 75%;
    max-height: 90%;
    height: 90%;
}

.modal.dark,
.modal.dark .modal-footer {
    background-color: var(--theme-dark);
}

.modal.light,
.modal.light .modal-footer {
    background-color: var(--theme-light);
}

/* Modal Media */
@media only screen and (max-width: 768px) {
    .modal {
        width: 60%;
    }
    .modal .modal-content h4 {
        font-size: 1.7em;
    }
}

@media only screen and (max-width: 700px) {
    .modal .modal-content h4 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 600px) {
    .modal {
        height: 100% !important;
        max-height: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
        top: 0% !important;
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    .modal .modal-content h4 {
        font-size: 1.3em;
    }
}
