.mn-feature-container {
    min-height: 1vh;
}

.mn-feature-container .available-features {
    min-height: 50vh;
}

.mn-feature-container .selected-features {
    flex: 0 0 350px;
    position: sticky;
    top: 416px;
}

.mn-feature-container .selected-features-items {
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 5em;
}

body.dark .mn-feature-selection {
    background-color: #3a3a3a;
}
body.dark .mn-feature-selection:hover {
    background-color: var(--theme-dark) !important;
}

.mn-feature-container .selected-features-mobile {
    position: sticky;
    top: 0;
    z-index: 1001;
    width: 100%;
    padding: 10px;
    padding-left: 2em;
    padding-right: 1em;
}

body.dark .mn-feature-selection.selected {
    background: black !important;
}
body.light .mn-feature-selection.selected {
    background: lightgrey !important;
}

.mn-feature-container .card {
    cursor: cell;
    user-select: none;
}

.mn-feature-selection.hoverable.selected.card {
    cursor: pointer;
}

.mn-feature-container .card .card-content p {
    word-break: break-word;
}

.mn-feature-container .card .card-title {
    font-size: 1.2em;
}

body.dark .mn-feature-container .selected-item-row .title,
body.dark .mn-feature-container .card .card-title {
    color: white !important;
}

.mn-feature-container .selected-item-row {
    position: relative;
}

.mn-feature-container .selected-item-row .remove-button {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    right: 0;
    top: 0;
}

.selected-item-row:hover .remove-button {
    opacity: 1;
}
