.codePreview {
    min-height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: unset !important;
    min-width: max-content;
}

.lineNumbers {
    margin-right: 10px;
    padding-right: 5px !important;
    border-right: 1px dashed;
    height: 100%;
    min-width: 24px;
}
