html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 6rem;
  height: 100%;
  --theme-dark: #2d2d2d;
  --theme-light: #f3f3f3;
  --theme-danger: rgb(220, 36, 14);
  --label-grey: var(--label-grey);
}

.codePreview {
  min-height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow: unset !important;
  min-width: max-content;
}

.lineNumbers {
  margin-right: 10px;
  padding-right: 5px !important;
  border-right: 1px dashed;
  height: 100%;
  min-width: 24px;
}

.grid-container {
  padding-top: 48px;
  height: 100%;
}

.grid-column {
  height: 100%;
  overflow-y: auto;
  padding-left: 10px;
  padding-top: 10px;
  border-top: 1px solid;
}

.modal.preview h4 {
  padding-bottom: 10px;
  margin-bottom: 0;
  position: fixed;
}

.modal.diff h4 {
  padding-bottom: 10px;
  margin-bottom: 0;
  position: fixed;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #000000;
}

.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex {
  flex: 1;
}

.modal {
  width: 35%;
  min-width: 320px;
}

.modal.modal-lg {
  width: 65%;
}

.modal.modal-xl {
  width: 90%;
}

.modal.mn-feature-modal,
.modal.preview {
  width: 75%;
  max-height: 90%;
  height: 90%;
}

.modal.diff {
  width: 75%;
  max-height: 90%;
  height: 90%;
}

.mn-footer {
  z-index: 1001;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  padding-right: 44px;
  pointer-events: none;
}

.mn-footer-logos {
  float: right;
  margin-left: 10px;
}

.mn-footer button.dark {
  color: var(--theme-dark);
  background-color: var(--theme-light);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -7rem;
  z-index: 1001;
}

.mn-container {
  margin-top: 1rem;
}

.mn-main-container {
  background: linear-gradient(
    to bottom,
    var(--theme-light) 95%,
    rgba(242, 242, 242, 0)
  );
}

.button-row {
  padding-left: 10px;
  padding-right: 10px;
}

.dark .mn-main-container {
  background: linear-gradient(
    to bottom,
    var(--theme-dark) 95%,
    rgba(45, 45, 45, 0)
  );
}

.mn-feature-container {
  padding-left: 20px;
  padding-right: 20px;
}

.mn-starter-form-main .input-field .helper-text {
  min-height: 1px;
}

body.light {
  background-color: var(--theme-light);
  color: var(--theme-dark);
}
.bg-light {
  background-color: var(--theme-light) !important;
  color: var(--theme-dark) !important;
}

body.dark {
  background-color: var(--theme-dark);
  color: var(--theme-light);
}

.bg-dark {
  background-color: var(--theme-dark) !important;
  color: var(--theme-light) !important;
}

body.dark .btn-flat {
  color: #fff;
}

body.light .btn-flat {
  color: #000;
}

button.light {
  background-color: var(--theme-dark);
  color: #fff;
}

button.dark {
  background-color: var(--theme-light);
  color: #000;
}

button.light:hover,
button.light:focus {
  background-color: #000000;
}

button.dark:hover,
button.dark:focus {
  background-color: #fff;
}

.btn-floating i {
  color: inherit;
}

.clickable {
  cursor: pointer;
}

.modal.dark,
.modal.dark .modal-footer {
  background-color: var(--theme-dark);
}

.modal.light,
.modal.light .modal-footer {
  background-color: var(--theme-light);
}

.grey-text {
  color: var(--label-grey) !important;
}

.input-field > label {
  color: var(--label-grey);
}

body.light [type="radio"]:checked + span:after,
body.light [type="radio"].with-gap:checked + span:after {
  background-color: #000;
}

body.dark [type="radio"]:checked + span:after,
body.dark [type="radio"].with-gap:checked + span:after {
  background-color: #fff;
}

body.light [type="radio"]:checked + span:after,
body.light [type="radio"].with-gap:checked + span:before,
body.light [type="radio"].with-gap:checked + span:after {
  border: 2px solid #000;
}

body.dark [type="radio"]:checked + span:after,
body.dark [type="radio"].with-gap:checked + span:before,
body.dark [type="radio"].with-gap:checked + span:after {
  border: 2px solid #fff;
}

body.light .mn-input:focus,
body.light .select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #000000 !important;
  box-shadow: 0 1px 0 0 #000000 !important;
}

body.dark .mn-input:focus,
body.dark .select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

body.dark .mn-input,
body.dark .select-wrapper input.select-dropdown {
  color: #fff;
}

body.dark .caret {
  fill: rgba(100, 100, 100, 0.87);
}

body.light .mn-input:focus + label {
  color: #000 !important;
}

body.light .dropdown-content li > a,
body.light .dropdown-content li > span {
  color: #000;
}

body.dark .mn-input:focus + label {
  color: #fff !important;
}

body.dark .mn-input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

body.dark .dropdown-content li > a,
body.dark .dropdown-content li > span {
  color: #fff;
  background-color: #3a3a3a;
}

body.dark .dropdown-content li > a:hover,
body.dark .dropdown-content li > span:hover {
  background-color: var(--theme-dark);
}

.generate-project-row {
  display: flex;
  align-items: flex-end;
}

.generate-project-row .col {
  flex: 1;
  background: orange;
}

.progress {
  background-color: #dfdfdf;
}

.progress .indeterminate {
  background-color: rgba(0, 0, 0, 0.74);
}

.spinner-blue,
.spinner-blue-only {
  border-color: #000000;
}

/* Modal Media */

@media only screen and (max-width: 768px) {
  .modal {
    width: 60%;
  }
  .modal .modal-content h4 {
    font-size: 1.7em;
  }
}

@media only screen and (max-width: 700px) {
  .modal .modal-content h4 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 600px) {
  .modal {
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    top: 0% !important;
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .modal .modal-content h4 {
    font-size: 1.3em;
  }
}

/* Media */
@media only screen and (max-width: 400px) {
  .row .col.xs6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
    padding-bottom: 5px;
  }
  .button-row .btn {
    font-size: 0.7em;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 600px) {
  .button-row .btn {
    font-size: 0.9em;
    padding: 0 10px;
  }
  .mn-feature-container .selected-features,
  .sticky {
    position: relative !important;
    top: 0;
    overflow-y: scroll;
  }
  .modal {
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    top: 0% !important;
    font-size: 14px;
  }
}

.action-button-icon {
  display: block;
}

@media only screen and (max-width: 788px) {
  .action-button-icon {
    display: none;
    background-color: orange;
  }
}

/*@media only screen and (max-width: 400px) {
  .action-button-icon {
    display: block;
    background-color: red;
  }
}*/
