body.foundation {
	background: none;
	background-color: white;
}

body.foundation .content > h1 {
	background: black;
}

body.foundation .content > h1 .title-text {
	margin-top: -50px;
	padding-top: 50px;
	min-height: 100px;
}

body.foundation .full.whitecircleborderseparator {
	background-image: url(../images/circle_black.png);
	background-color: #FFFFFF;
}

body.foundation footer {
	color: #FFFFFF;
	background: none;
	background-color: black;
}

section.foundation-description h2 {
	margin: 5% 0 3% 0;
}

section.foundation-description a {
	color: #2559A7;
	font-weight: 700;
}

section.foundation-description a.button {
	display: inline-block;
	font-size: 1.1em;
	padding: 10px 30px;
	background: #2559A7;
	color: white;
	border-color: #2559A7;
	border-radius: 8px;
	border-style: solid;
	position: relative;
	cursor: pointer;
	text-decoration: none;
}

section.foundation-description .emphasis {
	text-transform: uppercase;
	font-weight: bold;
}

section.foundation-boards {
	/* padding: 100px; */
	background-color: black;
	color: white;
}

section.foundation-boards .foundation-logo {
	padding: 17% 17% 5% 17%;
}

.foundation-logo img {
	width: 100%;
	height: 100%;
}

section.foundation-boards .foundation-board-content {
	padding: 0 15%;
}

section.foundation-boards .foundation-board-content h2 {
	margin: 10% 0;
}

.person {
	margin-bottom: 7%;
}

.person .name {
	display: block;
	text-transform: uppercase;
	font-size: 1.4em;
	line-height: 1.5em;
	font-weight: 600;
}

.person .title {
	display: block;
	font-size: 1.2em;
	line-height: 1.4em;
}

/* this is temporary */
.nested-list li {
	font-size: 1.0em;
}

.contact-modal-iframe-wrapper {
	display: block;
	overflow: auto;
	height: 100vh;
}

.sponsor-container hr {
	margin-bottom: 30px;
}

.sponsor-container h2 {
	margin-bottom: 20px;
}

.ambassador-list {
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
}

.ambassador-list li {
	list-style: none;
}

.sponsor-list {
	columns: 4;
	-webkit-columns: 4;
	-moz-columns: 4;
}

.sponsor-list li {
	list-style: none;
}

.placeholder-list {
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
}

.placeholder-list li {
	list-style: none;
}

.all-star-list {
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
}

@media(min-width: 600px) {
	.all-star-list {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}
}

@media(min-width: 800px) {
	.all-star-list {
		columns: 3;
		-webkit-columns: 3;
		-moz-columns: 3;
	}
}

@media(min-width: 1200px) {
	.all-star-list {
		columns: 6;
		-webkit-columns: 6;
		-moz-columns: 6;
	}
}

.all-star-list li {
	list-style: none;
	font-weight: bold;
	text-transform: uppercase;
}

.ambassador-logo {
	max-height: 250px;
}

.sponsor-logo {
	max-height: 150px; /* maybe titanium vs plat vs ??? get progressively smaller? */
}

.placeholder-logo {
	height: 50px;
	width: 25%;
	background-color: #CCC;
	margin: auto;
}

.align-right {
	align-items: right;
}

.sponsor-container a.button {
	display: inline-block;
	font-size: 1.3em;
	padding: 10px 40px;
	background: #2559A7;
	color: white;
	border-color: #2559A7;
	border-radius: 8px;
	border-style: solid;
	position: relative;
	cursor: pointer;
	text-decoration: none;
}
