html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/** Mobile First Sizing **/
/* XS Mobile First */
html {
    font-size: 12px;
    line-height: 1;
}
/* SM and Up */
@media (min-width: 374px) {
    html {
        font-size: 14px;
    }
}
/* End Mobile First Sizing */


ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: 'firasanslight';
    src: url('../fonts/FiraSans-Light.eot');
    src: url('../fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSans-Light.woff2') format('woff2'),
    url('../fonts/FiraSans-Light.woff') format('woff'),
    url('../fonts/FiraSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'firasansregular';
    src: url('../fonts/FiraSans-Regular.eot');
    src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSans-Regular.woff2') format('woff2'),
    url('../fonts/FiraSans-Regular.woff') format('woff'),
    url('../fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'firasansregular';
    src: url('../fonts/FiraSans-SemiBold.eot');
    src: url('../fonts/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSans-SemiBold.woff2') format('woff2'),
    url('../fonts/FiraSans-SemiBold.woff') format('woff'),
    url('../fonts/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'firasansbold';
    src: url('../fonts/FiraSans-Bold.eot');
    src: url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSans-Bold.woff2') format('woff2'),
    url('../fonts/FiraSans-Bold.woff') format('woff'),
    url('../fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body {
    color: #ffffff;
    background: #000000 url('../images/micronaut_vertbk.jpg') repeat-x center top;
    font-family: 'firasansregular', serif;
    line-height: 18px;
}


.light {
    background-color: #FFFFFF;
    overflow: auto;
    color: #231F20;
}

body.home {
    color: #231F20;
    background: #000000 url('../images/homemicronautvertbk.jpg') repeat-x center top;
}
body.home #calltoaction {
    color: #FFFFFF;
}


body.post .largegoldenratio img {
    width: 100%;
}

body.post h3 {
    font-family: 'firasansregular', serif;
    font-weight: 700;
}
body.post .largegoldenratio {
    max-width: 100%;
}

body.post .largegoldenratio pre {
    max-width: 100%;
    overflow-x: auto;
}

.smallgoldenratio h1,
.largegoldenratio h1 {
    font-weight: bold;
    font-family: 'firasansbold', serif;
    text-transform: uppercase;
}
.light h2,
.smallgoldenratio h2,
.largegoldenratio h2 {
    font-family: 'firasansbold', serif;
    text-transform: uppercase;
}
.light h3,
.smallgoldenratio h3,
.largegoldenratio h3 {
    font-family: 'firasansregular', serif;
    text-transform: uppercase;
}
.largegoldenratio code {
    font-family: "Courier New", monospace;
}
.largegoldenratio .date,
.largegoldenratio .author {
    text-transform: uppercase;
    font-family: 'firasanslight', serif;
}
.largegoldenratio .date {
    border-top: 3px solid #000000;
    padding-top: 20px;
    margin: 20px 0;
    display: block;
    width: 150px;
}
.largegoldenratio h1 {
    font-size: 2em !important;
    line-height: 1.5em !important;
    margin-bottom: 0;
    margin-top: 0;
}
.light .blogcard {
	color: #231F20;
}

.related-posts .blogcard:first-of-type {
    margin-top: 1rem !important;
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 3em;
    padding: 3em;
}

@media screen and (min-width: 961px) {
    .article-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    article.tagcloud {
        grid-column: 3;
        grid-row: 1/ span 2;
        padding-bottom: 210%
    }

    .light .blogcard {
	    background-color: #000000;
       color: #FFFFFF;
    }
    .light .blogcard.tagcloud {
        background-color: #000000 !important;
    }

    .light .article-grid:nth-child(0n+1) .blogcard {
        background-color: #92C9E3;
    }
    .light .article-grid:nth-child(0n+2) .blogcard {
        background-color: #8BC0D9;
    }
    .light .article-grid:nth-child(0n+3) .blogcard {
        background-color: #628899;
    }
    .light .article-grid:nth-child(0n+4) .blogcard {
        background-color: #316F8C;
    }
    .light .article-grid:nth-child(0n+5) .blogcard {
        background-color: #3B87AB;
    }
    .light .article-grid:nth-child(0n+6) .blogcard {
        background-color: #4CACD9;
    }
}
.light .blogcard a,
.light .blogcard a:visited,
.light .blogcard a:hover,
.light.learn-grid a,
.light.learn-grid a:visited,
.light.learn-grid a:hover {
    color: #231F20;
}
@media screen and (min-width: 961px) {
    .light .blogcard a,
    .light .blogcard a:visited,
    .light .blogcard a:hover,
    .light.learn-grid a,
    .light.learn-grid a:visited,
    .light.learn-grid a:hover {
        color: #FFFFFF;
    }
    .light.article-grid.learn-grid h2 {
        padding-top: 30%;
    }
}

@media screen and (max-width: 960px) {
	.blogcard {
		background-image: none !important;
		margin-bottom: 50px;
	}
}
@media screen and (min-width: 961px) {
	.blogcard {
		background-size: cover;
	}
}
.blogcard {
    text-transform: uppercase;
    overflow: hidden;
}
.blogcard h3 {
	font-weight: normal;
	font-family: 'firasanslight', serif;
}
.blogcard h2 {
    font-weight: bold;
    font-family: 'firasansbold', serif;
    font-size: 1.2em !important;
    line-height: 1.4em !important;
}

.blogcard a, .blogcard a:visited,
.learn-grid a, .learn-grid a:visited {
    text-decoration: none !important;
}
.blogcard a:hover,
.learn-grid a:hover {
    text-decoration: underline !important;
}

.blogcard h3, .blogcard h2,
.blogcard .tagsbytopic {
	padding-left: 5.137%; /* 20px at max width */
	padding-right: 5.137%; /* 20px at max width */
}

@media screen and (min-width: 961px) {
    .blogcard h2 {
        font-size: 1.3em !important;
        line-height: 1.4em !important;
    }
    .blogcard h3 {
        padding-top: 9%;
        padding-bottom: 9%;
    }
    .blogcard.tagcloud h3 {
	    padding-bottom: 1%;
    }

    .blogcard .tagsbytopic ul {
	    margin-top: 0;
    }

    .blogcard {
		height: 0;
		padding-bottom: 100%;
    }
}

.logo {
    text-align: center;
    margin-bottom: 50px;
}

.logo img {
    width: 100%;
    object-fit: contain;
    max-height: 20em;
    padding: 3px;
}

.logo .logo-wrapper {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: .5em;
    border-radius: 15px;
}

strong, b {
    font-weight: bold;
    font-family: 'firasansbold', serif;
}
@media screen and (min-width: 480px) {
    body.home #calltoaction {
        font-size: 24px;
        line-height: 28px;
    }

    body.home {
        font-size: 18px;
        line-height: 21px;
    }
}
@media screen and (min-width: 1200px) {
    body.home #calltoaction {
        font-size: 32px;
        line-height: 38px;
    }
    .blogcard h2 {
        font-size: 1.5em !important;
        line-height: 1.6em !important;
    }
    .blogcard h3 {
        padding-top: 12.843%; /* 50px at max width */
        padding-bottom: 12.843%; /* 50px at max width */
    }
}
body.home .language {
    margin-bottom: 50px;
}
body.home .language img {
    display: block;
    margin: 0 auto;
}

body.home .twocolumns .column:last-child {
    margin-top: 100px;
}
body.home #rocketlanguages .column:last-child {
    margin-top: 0;
}

body.home #rocketlanguages .column:last-child p {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}
@media screen and (min-width: 961px) {
    body.home .twocolumns .column:last-child {
        margin-top: 0;
    }
}

#rocketimage {
    display: none;
}
@media screen and (min-width: 950px) {
    #rocketbg {
        padding-right: 20.5%;
        padding-left: 20.5%;
        min-height: 360px;
        background: url("../images/rocketspathsmedium.svg") no-repeat right top;
    }
    #rocketimage {
        display: none;
    }
}

@media screen and (min-width: 1069px) {
    #rocketbg {
        background: url("../images/rocketspaths.svg") no-repeat right top;
    }

}

sup {
    vertical-align: super;
    font-size: 0.6em;
}

h2 {
    font-size: 1.6em !important;
    line-height: 1.7em !important;
}

.content > h1 {
    margin-top: 100px;
    font-size: 25px;
    line-height: 45px;
    margin-bottom: 0;
}

@media screen and (min-width: 800px) {
    .content > h1 {
        font-size: 35px;
        margin-top: 180px; /* 130 fixed navigation + 50px (margin bottom) */
        margin-bottom: 0;
    }
}
@media screen and (min-width: 600px) {
    h1 {
        font-size: 50px;
        line-height: 60px;
    }
}
body.faq h1 {
    margin-bottom: 25px;
}
body .content > h1:first-of-type {
    margin-bottom: 25px !important;
}
@media screen and (min-width: 961px) {
    body .content > h1:first-of-type {
        margin-bottom: 45px !important;
    }
}
body .container > h1:first-of-type a,
body .container > h1:first-of-type a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
body .container > h1:first-of-type a:hover {
	text-decoration: underline;
}
h1 span {
    font-family: 'firasanslight', serif;
    text-transform: uppercase;
}
h1 b {
    font-family: 'firasansbold', serif;
    text-transform: uppercase;
}

h3 {
    font-size: 1.25em; /* 40 / 32 */
    line-height: 1.263em; /* 48px;	/ 38px; */
}

th,
td,
label,
input,
li,
p {
    font-size: 1.25em; /* 40 / 32 */
    line-height: 1.6em; /* 48px;	/ 38px; */
}

li {
    font-size: 1.25rem;
    line-height: 1.6rem;
}

li p {
    font-size: 1em;
}

ul, ol, p, pre {
    margin-bottom: 20px;
}
li {
    margin-left: 18px;
    list-style-type: disc;
    margin-bottom: 10px;
}

small {
    font-size: 0.5em;
    line-height: 1em;
}

a {
    color: #4CAFDE
}
th {
    background-color: #4CAFDE;
    color: #ffffff;
}
.hs-error-msgs label {
    font-weight: bold;
    color: #ffffff !important;
}
.form {
    margin-top: 50px;
    padding: 10px;
    background-color: #4890F5;

}
table {
    border-collapse: collapse;
    margin-bottom: 20px;
}
td, th {
    padding: 20px;
    margin: 0;
}
.clear {
    clear: both;
}
.align-left {
    float: left;
}
.align-center {
    text-align: center;
}
.align-right {
    float: right;
}

.mobile {
    display: block;
}
.desktop {
    display: none;
}

.icon {
    height: 25px;
    margin-right: 10px;
}

.package {
    margin-bottom: 50px;
    /*overflow: auto;*/
}

.package h3 {
    font-family: 'firasansbold', sans-serif;
    margin-bottom: 25px;
}

@media screen and (min-width: 961px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

.container {
    display: block;
    max-width: 1366px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* START - NAV */
nav {
    overflow: auto;
}
nav li {
    list-style-type: none;
}
.main nav {
    background-color: #ffffff;
    margin: 0 auto;
    border-bottom: 1px solid rgba(214,214,214,0.1);
    overflow: auto;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.5s;
    height: 75px;
    overflow: hidden;
    z-index: 1001;
}

.main nav li {
    font-size: 14px !important;
    line-height: 18px !important;
}
.main nav li.align-left {
    margin: 15px 0 0 5px;
}

@media screen and (min-width: 480px) {
    .main nav li.align-left {
        margin-left: 0;
    }
}
.main nav li.align-left img {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.main nav li.large,
.main nav li.align-right.icon,
.main nav li.align-right {
    display: none;
}
.main nav li.small img,
.main nav li.large img {
    width: 100%;
}
.main nav li.small,
.main nav li.align-right.tiny {
    display: block;
}
.main nav li.align-right.tiny {
    margin-top: 25px;
}

@media screen and (min-width: 800px) {
    .main nav li.small {
        margin-top: 17px !important;
    }
    .main nav li.align-left.small {
        margin-top: 0 !important;
    }

    .main nav li.align-left img {
        min-height: 5em;
    }

    .main nav li.align-right.tiny {
        display: none;
    }
    .main nav li.align-right.icon,
    .main nav li.align-right {
        display: block;
    }
    .main nav li.align-left {
        width: 5%;
        margin: 0;
    }
    .main nav li.align-right {
        width: 94%;
        margin: 0 0 0 1%;
    }
    .main nav li.align-right li {
        display: inline;
        margin-left: 0;
    }
    .main nav li.align-right li a {
        display: block;
        float: right;
        text-align: center;
    }
    .main nav li.align-right li.icon {
        overflow: auto;
        float: right;
    }
}

@media screen and (min-width: 914px) {
    .main nav li.small {
        display: none;
    }
    .main nav li.large {
        display: block;
    }
    .main nav li.align-left {
        width: 25%;
    }
    .main nav li.align-right {
        width: 74%;
    }
}
@media screen and (min-width: 800px) {
    #navbar {
        max-height: 82px;
        padding-top: 1.4%;
        padding-bottom: 1.4%;
    }
    .main nav li.align-right li.icon {
        padding: 9px 0;
    }
    .main nav li.align-right li a {
        padding: 10px 1%;
    }
    .main nav li.align-right ul {
        margin: 2% 0;
    }
}

.main nav li.active a {
    font-family: 'firasansbold', sans-serif;
    text-decoration: underline;
}
.main nav a {
    text-transform: uppercase;
    color: #231F20;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
}
.main nav .align-right a {
    font-size: 14px;
    line-height: 20px;
}
.main nav a:hover {
    text-decoration: none;
}

/* END - NAV */


.twocolumns {
    overflow: auto;
}
.column {
    display: block;
    overflow: hidden;
}
.twocolumns article {
    padding-left: 0;
    padding-right: 0;
}
@media screen and (min-width: 961px) {
    .white article {
        margin: 0 auto;
        max-width: 1366px;
    }
    .twocolumns .column {
        float: right;
        width: 47.32690622%; /* 547 / 1141px;*/
    }
    .twocolumns .column.odd,
    .twocolumns .column:first-child {
        margin-left: 5.34618756%;
    }

    .twocolumns .column.secondary {
        width: 21.782%;
    }
    .twocolumns .column.primary {
        width: 78.218%;
    }
    .largegoldenratio {
        width:  56.45721134%;
		margin-right: 5.34618756%;
    }
    .smallgoldenratio {
        width: 38.1966011%;
    }
    .container .smallgoldenratio .blogcard {
        margin-left: 0;
        margin-right: 11.22754491%; /* 50 / (1336 * 1/3) */
        margin-top: 9.585%;
        margin-bottom: 0;
    }
    .container .smallgoldenratio .blogcard:last-child {
        margin-bottom: 9.585%;
    }
}
.padded {
	padding: 20px;
    overflow: auto;
}
.padded-x {
	padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}
.padded-y {
	padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
}
.padded-t {
	padding-top: 20px;
    overflow: auto;
}
.padded-b {
    padding-bottom: 20px;
    overflow: auto;
}
.padded-r {
	padding-right: 20px;
    overflow: auto;
}
.padded-l {
    padding-left: 20px;
    overflow: auto;
}

@media screen and (min-width: 961px) {
	.padded {
		padding: 50px;
	}
    .padded-x {
        padding-left: 50px;
        padding-right: 50px;
    }
    .padded-y {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .padded-t {
        padding-top: 50px;
        overflow: auto;
    }
    .padded-b {
        padding-bottom: 50px;
        overflow: auto;
    }
    .padded-r {
        padding-right: 50px;
        overflow: auto;
    }
    .padded-l {
        padding-left: 50px;
        overflow: auto;
    }
}

/* START - SEARCH */
div.search {
    overflow: hidden;
    font-size: 11px;
    margin-bottom: 50px;
}

.search input {
    height: 54px;
    width: 100%;
    margin-bottom: 0 !important;
}

.search span {
    margin-left: 55px;
    display: block;
}
/* END - SEARCH */
/* START - LOGO */
#logo {
    margin: 155px auto 0;
    max-width: 300px;
}
@media screen and (min-width: 750px) {
    body.home #logo {
        margin: 192px auto 0;
        max-width: 500px;
    }
}

body.home section p img {
    width: 100%;
}
#logo img {
    width: 100%;
}
/* END - LOGO */

/* START - CALL TO ACTION */
#calltoaction {
    max-width: 1234px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 80px !important;
}
#calltoaction {
    margin: 20px auto;
}
@media screen and (min-width: 800px) {
    #calltoaction { margin-bottom: 110px !important; }
}
@media screen and (min-width: 1200px) {
    #calltoaction {
        margin: 10px auto 70px;
    }
}
/* END - CALL TO ACTION */

/* START - FOOTER */
footer {
    width: 100%;
    color: #000000;
    text-align: center;
    overflow: auto;
    background-color: #FFFFFF;
}

footer img {
    width: 100%;
}

body.home footer {
    color: #FFFFFF;
    background: #000000 url('../images/micronaut_vertbk.jpg') repeat center top;
}

footer nav#footernav li {
    width: 33%;
    margin-left: 0;
    margin-right: 0;
    float: left;
}
footer nav#footernav {
    margin-bottom: 20px;
}

#blacklogo {
    max-width: 550px;
    margin: 0 auto 50px;
}
#socialnetworknav {
    max-width: 420px;
    margin: 0 auto 10px;
}
#socialnetworknav li {
    margin: 0;
    float: left;
}
#socialnetworknav li {
    padding: 5px;
}
@media screen and (min-width: 414px) {
    #socialnetworknav li {
        padding: 7px;
    }
}
@media screen and (min-width: 600px) {
    #socialnetworknav li {
        padding: 10px;
    }
}

/* END - FOOTER */

/* GUIDES */
.latestguides ul {
    margin-bottom: 40px;
    padding-left: 0;
}
.latestguides li {
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 18px;
    margin-left: 0 !important;
}

.latestguides li b {
    text-transform: uppercase;
    font-weight: normal;
}

.latestguides li b,
.latestguides li a,
.latestguides li span {
    display: block;
    margin-bottom: 5px;
}
.latestguides li a,
.latestguides li span {
    font-size: 14px;
}
.tagsbytopic ul {
    margin: 40px 0 0 0;
    padding: 0;
    overflow: auto;
}
.tagsbytopic li {
    list-style-type: none;
    background-color: #F0C45A;
    float: left;
    margin-left: 0;
    margin-right: 6px;
    margin-bottom: 6px;
    height: 20px;
    font-size: 12px;
    line-height: 14px;
    vertical-align: middle;
    padding: 7px 10px 3px;
}
.tagsbytopic li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.tagsbytopic li.tag1{ font-size: 12px; background-color: #92C9E3; }
.tagsbytopic li.tag2{ font-size: 12px; background-color: #3B87AB; }
.tagsbytopic li.tag3{ font-size: 12px; background-color: #3B87AB;}
.tagsbytopic li.tag4{ font-size: 12px; background-color: #4890F5;}
.tagsbytopic li.tag5{ font-size: 12px; background-color: #4890F5;}
.tagsbytopic li.tag6{ font-size: 16px; background-color: #4890F5;}
.tagsbytopic li.tag7{ font-size: 16px; background-color: #4CAFDE;}
.tagsbytopic li.tag8{ font-size: 16px; background-color: #4CAFDE;}
.tagsbytopic li.tag9{ font-size: 16px; background-color: #4CAFDE;}
.tagsbytopic li.tag10{ font-size: 16px; background-color: #4CAFDE;}
.tagsbytopic li.tag11{ font-size: 20px; background-color: #4CAFDE;}
.tagsbytopic li.tag12{ font-size: 20px; background-color: #4CAFDE;}
.tagsbytopic li.tag13{ font-size: 20px; background-color: #4CAFDE;}
.tagsbytopic li.tag14{ font-size: 20px; background-color: #4CAFDE;}
.tagsbytopic li.tag15{ font-size: 20px; background-color: #4CAFDE;}
.tagsbytopic li.tag16{ font-size: 20px; background-color: #4CAFDE;}
.tagsbytopic li.tag17{ font-size: 20px; background-color: #4CAFDE;}
.tagsbytopic li.tag18{ font-size: 20px; background-color: #4CAFDE;}
.tagsbytopic li.tag19{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag20{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag21{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag22{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag23{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag24{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag25{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag26{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag27{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag28{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag29{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag30{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag31{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag32{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag33{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag34{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag35{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag36{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag37{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag38{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag39{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag40{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag41{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag42{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag43{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag44{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag45{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag46{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag47{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag48{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag49{ font-size: 24px; background-color: #4CAFDE;}
.tagsbytopic li.tag50{ font-size: 24px; background-color: #4CAFDE;}

.question {
    margin-bottom: 50px;
}
.columnheader {
    min-height: 35px;
    padding-top: 12px;
    padding-bottom: 6px;
    text-transform: uppercase;
    padding-left: 28px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
    color: #FFFFFF;
}
.question .columnheader {
    padding-left: 0;
    margin-bottom: 0;
    font-family: 'firasansbold', sans-serif;
}

.columnheader a {
    color: #FFFFFF;
}
body.guides .columnheader {
    background-color: #4CAFDE;
    color: #ffffff;
}

/* END - GUIDES */

/* START .GUIDEGROUP */

.guidegroup {
    padding-top: 12px;
    margin: 0 0 50px 0;
    padding-bottom: 12px;
    overflow: hidden;
}

.guidegroup p {
    margin: 0;
    padding: 10px 0;
    background-color: #F5F5F5;
}

.guidegroup li p {
    background-color: transparent;
    color: #333333;
    font-size: 0.85em;
}

.guidegroupheader {
    padding-left: 18px;
    height: 118px;
}

.guidegroupheader a {
    color: #4CAFDE;
}

.guidegroupheader img {
    float: left;
    width: 93px;
    height: 93px;
    margin-right: 18px;
}

.guidegroup h2 {
    height: 144px;
    text-transform: uppercase;
    font-size: 18px !important;
    padding-top: 40px;
}
.guidegroup ul {
    padding: 0;
    margin: 0;
}

.radius,
.form,
.guidegroup {
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 12px;

    /* Firefox 1-3.6 */
    -moz-border-radius: 12px;

    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 12px;
}

.guidegroup ul,
.guidegroup {
    background-color: #FFFFFF !important;
}
.guidegroup li {
    border-top: 4px solid rgb(245, 245, 245);
}
.guidegroup h2 {
    font-family: 'firasansbold', serif;
    color: #231F20 !important;
}
.guidegroup li a {
    color: #231F20;
    font-family: 'firasanslight', serif;
}

.guidegroup {
    border-top: 2px solid #231F20;
}

.guidegroup li {
    overflow: auto;
    list-style-type: none;
    min-height: 60px;
    font-size: 18px;
    padding: 38px 30px 0;
    margin-left: 0 !important;
}

.guidegroup li.legend {
    padding-top: 0;
    border: 0;
    color: #231F20;
}
.guidegroup li span {
    color: #231F20;
    font-size: 18px;
}
.guidegroup li span.title {
    display: block;
    border: 1px solid #ffffff;
}
.guidegroup li span.title,
.guidegroup li a.guide {
    background-image: url(../images/caret.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}
.guidegroup li a {
    display: block;
    text-decoration: underline;
    letter-spacing: 1px;
}
.guidegroup li a.lang {
    float: left;
    padding-right: 20px;
}

.guidegroup li.legend a {
    background-image: none;
    display: inline;
    padding: 0;
}

.guidegroup li.quickcast a {
    background-image: url('../images/video.png');
}
/* END .GUIDEGROUP */

/* START - TRAINING */
.training table {
    background-color: #F5F5F5;
}
.largegoldenratio table {
     margin: 0 auto;
}
.training h2 {
    text-transform: uppercase;
    font-family: 'firasansbold', sans-serif;
    margin-bottom: 20px;
}
.training table {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.training td {
    background-color: #ffffff;
    color: #231F20 !important;
}

.training td,
.training th {
    font-size: 12px;
    text-align: left;
}

@media screen and (min-width: 961px) {
    .training table td,
    .training table th {
        font-size: 16px;
        line-height: 18px;
        text-align: left;
    }
}
.training td a {
    text-decoration: none;
}

.training .content {
    padding-top: 30px;
}
.training .content h2 {
    margin-top: 20px;
}
/* END - TRAINING */

.sponsoredby {
    margin-bottom: 50px;
}
.sponsoredby h4 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 35px 10px;
}

.sponsoredby img {
    width: 100%;
}
.mauticformwrapper {
    margin-top: 50px !important;
    padding: 0 !important;
}
footer .mauticformwrapper {
    margin: 30px auto 0 !important;
}
.mauticform-row {
    margin: 30px auto !important;
}
.mauticform-label { display: block; font-size: 20px;  !important}
.mauticformwrapper textarea,
.mauticform-input {
    width: 90%;
    max-width: 500px;
    border: none !important;
    border-bottom: 1px solid #231F20 !important;
    font-size: 12px !important;
}
.mauticformwrapper textarea {
    width: 95%;
}
.mauticform-button {
    background-color: #4CAFDE !important;
    color: #ffffff !important;
    padding: 20px 30px !important;
    border: 2px solid #231F20 !important;
    font-size: 20px !important;
    margin-bottom: 60px !important;
    text-transform: uppercase !important;
    border-radius: 5px;
}
footer .mauticform-button {
    background-color: #231F20 !important;
}
.mauticform-row.mauticform-required .mauticform-label:after {
    content: none !important;
}
@media screen and (min-width: 1200px) {
    .mauticform-button {
        margin-bottom: 0 !important;
    }
}
.mauticform-message {
    color: #4CAFDE !important;
}


/* START - ICONSGRID */
.iconsgrid {
    margin: 0 auto;
    max-width: 1234px;
    overflow: auto;
}
.iconsgrid li  {
    float: left;
    width: 40%;
    margin: 5% !important;
    font-size: 0.8em;
    text-align: center;
    list-style-type: none;
    overflow: auto;
}
.iconsgrid li span {
    text-align: center;

}
.iconsgrid li img {
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

@media screen and (min-width: 800px) {
    .iconsgrid li  {
        float: left;
        width: 23%;
        margin: 0 5% 5% 5%;
    }
    .iconsgrid li img {
        max-width: 200px;
    }
    .iconsgrid li span {
        font-size: 1em;
    }
}
/* END - ICONSGRID */

body.home .feature h2 {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'firasansbold', serif;
}

.whitecircleborderseparator {
    background-repeat: no-repeat;
    background-position: center top;
    height: 50px;
}


.full.whitecircleborderseparator {
    margin-bottom: 0;
}

body.home .full.whitecircleborderseparator {
    background-image: url('../images/circle_star.png');
    background-color: #FFFFFF;
}

.full.whitecircleborderseparator,
.brownbgwhiteoval.whitecircleborderseparator {
    background-image: url('../images/circle_white.png');
}

.brownbgwhiteoval.whitecircleborderseparator {
    background-color: #F1F1F1;
}

.brownbg.whitecircleborderseparator {
    background-image: url('../images/circle_brown.png');
}

.brownbg.whitecircleborderseparator {
    background-color: #FFFFFF;
}
.brownbg.whitecircleborderseparator.starsbgtobrownelipse {
    background-color: transparent;
}


.brown {
    background-color: #F1F1F1;
}
.white, .brown {
    padding-bottom: 75px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}
@media screen and (min-width: 1200px) {
    .white, .brown {
        padding-bottom: 85px;
        padding-top: 0px;
    }
    .whitecircleborderseparator {
        height: 110px;
    }
}

.white {
    background-color: #ffffff;
}

/** ANOUNCEMENT **/
div.announcement {
    background-color: #FFFFFF;
    margin-bottom: 50px;
}
div.announcement h2 {
    background-color: #4CAFDE;
    color: #ffffff;
    padding: 30px;
    overflow: auto;
}
div.announcement h2 a {
    color: #FFFFFF;
    text-decoration: underline;
}
div.announcement h2 .align-left,
div.announcement h2 .align-right {
    float: none;
    text-align: center;
    vertical-align: center;
}
@media screen and (min-width: 480px) {
    div.announcement h2 .align-right {
        float: right;
    }
    div.announcement h2 .align-left {
        float: left;
    }
    div.announcement h2 .align-left,
    div.announcement h2 .align-right {
        text-align: left;
        vertical-align: top;
    }
}
div.announcement h2 span {
    text-align: center;
    font-family: 'firasanslight', serif;
}

div.announcement h2 b {
    font-size: 2em;
    line-height: 1.2em;
    font-family: 'firasansbold', serif;
    text-transform: uppercase;
}
div.announcement div {
    color: #231F20;
    padding: 10px 13px 30px 13px;
}
@media screen and (min-width: 480px) {
    div.announcement div {
        padding: 20px 30px 50px 30px;
    }
}
div.announcement b.author {
    font-size: 1.2em;
}
/** END ANNOUNCEMENT **/

body.home pre code {
    font-size: 0.8em !important;
    line-height: 1.5em !important;
}

body.home pre {
    overflow: hidden;
}

@media screen and (min-width: 600px) {
    body.home pre code {
        font-size: 1em !important;
        line-height: 1.5em !important;
    }
}
@media screen and (min-width: 961px) {
    body.home .twocolumns pre code {
        font-size: 0.8em !important;
        line-height: 1.5em !important;
    }
}

#ocitraining .trainingerror,
#ocitraining .trainingvoid {
    padding: 5px 15px;
    background-color: #4CAFDE;
}

body.home .calltoactionbuttons {
    width: 289px;
}
.calltoactionbuttons {
    text-align: center;
    margin: 50px auto 0;
    overflow: auto;
}
.calltoactionbuttons a {
    display: block;
    padding: 10px 30px;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 45px;
    text-decoration: none;
    max-width: 210px;
    margin: 20px 0;
}
.calltoactionbuttons a:first-child,
.calltoactionbuttons a:last-child {
    margin: 0;
}
.calltoactionbuttons a:hover {
    text-decoration: underline;
}
@media screen and (min-width: 961px) {
    body.home .calltoactionbuttons {
        width: 865px;
    }
    .calltoactionbuttons a {
        width: 210px;
        float: left;
        margin-top: 0;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0;
    }
}

.socialicon {
    height: 45px;
    width: 45px;
}

blockquote {
    border-left: 5px solid gainsboro;
    padding-left: 20px;
}
