<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guides | Micronaut Framework</title>
    <meta http-equiv="refresh" content="0; url=https://micronaut.io/guides/" />
    <meta name="keywords" content="microanut,jvm,framework,groovy,java,kotlin,microservices,graalvm,serverless" />
    <meta name="description" content="A modern, JVM-based, full-stack framework for building modular, easily testable microservice and serverless applications." />
    <meta name="date" content="March 18, 2021" />
    <meta name="robots" content="all"/>
    <meta charset='utf-8'/>
    <meta name='twitter:card' content='summary_large_image'/>
    <meta name='twitter:site' content='@micronautfw'/>
    <meta name='twitter:description' content='A modern, JVM-based, full-stack framework for building modular, easily testable microservice and serverless applications.'/>
    <meta name='twitter:creator' content='@micronautfw'/>
</head>
<body>
  <p>This page has moved to <a href="https://micronaut.io/guides/">https://micronaut.io/guides/</a></p>
</body>
</html>
