html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

.codePreview {
  min-height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow: unset !important;
  min-width: max-content;
}

.lineNumbers {
  margin-right: 10px;
  padding-right: 5px !important;
  border-right: 1px dashed;
  height: 100%;
  min-width: 24px;
}

.grid-container {
  padding-top: 48px;
  height: 100%;
}

.grid-column {
  height: 100%;
  overflow-y: auto;
  padding-left: 10px;
  padding-top: 10px;
  border-top: 1px solid;
}

.modal.preview h4 {
  padding-bottom: 10px;
  margin-bottom: 0;
  position: fixed;
}

.modal {
  width: 35%;
}

.modal.preview {
  width: 75%;
  max-height: 90%;
  height: 90%;
}

.mn-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.mn-logo {
  margin-top: 40px;
}

.mn-footer-logos {
  float: right;
  margin-left: 10px;
}

.mn-container {
  margin-top: 5rem;
}

body.light {
  background-color: #f3f3f3;
  color: #2d2d2d;
}

body.dark {
  background-color: #2d2d2d;
  color: #f3f3f3;
}

body.dark .btn-flat, body.dark .mn-footer-logos {
  color: #fff;
}

body.light .btn-flat, body.light .mn-footer-logos {
  color: #000;
}

button.light {
  background-color: #2d2d2d;
  color: #fff;
}

button.dark {
  background-color: #f3f3f3;
  color: #000;
}

button.light:hover, button.light:focus {
  background-color: #000000;
}

button.dark:hover, button.dark:focus {
  background-color: #fff;
}

.btn-floating i {
  color: inherit;
}

.modal.dark, .modal.dark .modal-footer {
  background-color: #2d2d2d;
}

.modal.light, .modal.light .modal-footer {
  background-color: #f3f3f3;
}

body.dark .mn-feature-selection {
  background-color: #3a3a3a;
}

body.light .mn-feature-selection:hover {
  background-color: black !important;
}

body.dark .mn-feature-selection:hover {
  background-color: #2d2d2d !important;
}

.mn-feature-selection:hover > div.card-content > span.card-title {
  color: white;
}

.grey-text {
  color: #9e9e9e !important;
}

.input-field > label {
  color: #9e9e9e;
}

body.light [type="radio"]:checked + span:after, body.light [type="radio"].with-gap:checked + span:after {
  background-color: #000;
}

body.dark [type="radio"]:checked + span:after, body.dark [type="radio"].with-gap:checked + span:after {
  background-color: #fff;
}

body.light [type="radio"]:checked + span:after, body.light [type="radio"].with-gap:checked + span:before, body.light [type="radio"].with-gap:checked + span:after {
  border: 2px solid #000;
}

body.dark [type="radio"]:checked + span:after, body.dark [type="radio"].with-gap:checked + span:before, body.dark [type="radio"].with-gap:checked + span:after {
  border: 2px solid #fff;
}

body.light .mn-input:focus, body.light .select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #000000 !important;
  box-shadow: 0 1px 0 0 #000000 !important;
}

body.dark .mn-input:focus, body.dark .select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

body.dark .mn-input, body.dark .select-wrapper input.select-dropdown {
  color: #fff;
}

body.dark .caret {
  fill: rgba(100, 100, 100, 0.87);
}

body.light .mn-input:focus + label {
  color: #000 !important;
}

body.light .dropdown-content li > a, body.light .dropdown-content li > span {
  color: #000;
}

body.dark .mn-input:focus + label {
  color: #fff !important;
}

body.dark .dropdown-content li > a, body.dark .dropdown-content li > span {
  color: #fff;
  background-color: #3a3a3a;
}

body.dark .dropdown-content li > a:hover, body.dark .dropdown-content li > span:hover {
  background-color: #2d2d2d;
}


.progress {
  background-color: #dfdfdf;
}

.progress .indeterminate {
  background-color: rgba(0, 0, 0, 0.74);
}

.spinner-blue, .spinner-blue-only {
  border-color: #000000;
}
